
*{
    margin: 0;
    padding: 0;

}
.sidebar{
    background-color: red;
    width: 10vw;
    height: 100vh;
}
.sidebar nav{
    padding: 30px;
}
.sidebar nav li{
    list-style-type: none;
    font-size: 30px;
    padding: 33px 0;
}
.main{
    background-color: yellow;
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    background-color: rgb(81, 255, 0);
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    /* margin-top: 19px; */
    display: flex;
    justify-content: space-around;

}
.devPic img{
    height: 78vh;
    

}
.devInfo{
    
}








